on property:init.svc.bootanim=stopped
    write /sys/class/leds/sys_led/trigger none

on property:init.svc.bootanim=running
    write /sys/class/leds/sys_led/brightness 255
    write /sys/class/leds/sys_led/trigger timer

service led_native /system/bin/led_native
    class main
